<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>YOUR_PROJECT_NAME</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Base Layer</string>
			<key>Key</key>
			<string>base_layer</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Mapnik</string>
				<string>Tiles @ Home</string>
				<string>Cycle Map</string>
				<string>CM Mobile 64</string>
				<string>CM Mobile 256</string>
				<string>CM Web 64</string>
				<string>CM Web 256</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Map Cache Size (MB)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>cache_size</string>
			<key>DefaultValue</key>
			<integer>25</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>50</integer>
			<key>MinimumValueImage</key>
			<string>size0.png</string>
			<key>MaximumValueImage</key>
			<string>size50.png</string>
		</dict>
	</array>
</dict>
</plist>
